.clubContents {
	padding-bottom: 0.3em;
	border-bottom: solid 3px red;
	color: black;
	font-family: olleh;
}

.clubContents1 {
	width: 10%;
	padding-bottom: 0.3em;
	border-bottom: solid 3px red;
	color: black;
	font-family: olleh;
}


/*°Ô½ÃÆÇ css*/
table.type08 {
	border-collapse: collapse;
	text-align: left;
	line-height: 1.5;
	border-left: 1px solid #ccc;
	margin: 20px 10px;
	font-family: olleh;
	color: black;
	border-collapse: collapse;
}

table.type08 thead th {
	/* 	padding: 10px;
 */
	font-weight: bold;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 2px solid #c00;
	background: lightgrey;
}

table.type08 tbody th {
	width: 150px;
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background: #ececec;
}

table.type08 td {
	width: 350px;
	padding: 10px;
	font-size: 0.7em;
	vertical-align: top;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

table.type11 a {
	color: black;
}
table.type11 a:hover {
	color: rgba(236, 8, 8, 0.75);
}
table.type11 tr {
}
table.type11 td.date {
	font-size: 3px;
}
#board_category_errormsg_null {
	display:none;
}
#board_title_errormsg_null {
	display:none;
}
#board_content_errormsg_null {
	display:none;
}

#content_view {
	vertical-align: top;
	position: relative;
	display: inline-table;
}

#content_view #header1 {
	color: black;
	border-bottom: 1px solid #e9e9e9;
	background: #f8f8f8;
}
#content_view #header1 #writeSubject {
	padding: 15px 30px;
	font-weight: bold;
	word-break: break-all;
}
#content_view #header2 {
	color: black;
	border-bottom: 1px solid #e9e9e9;
	background: #fff;
	height: 30px;
}
#content_view #view_nickname {
	float:left;
	padding-left: 30px;
	font-weight: bold;
	color: black;
}
#content_view #view_hit {
	color: #bbb;
	float: right;
	padding: 0 15px;
	border-left: 1px solid #e9e9e9;
}
#content_view #view_date {
	color: black;
	padding-right: 15px;
	float: right;
	
}
#content_view #clear {
	clear: both;
}
#content_view #view_content {
	color: black;
	text-align: justify;
	z-index: 1;
	position: relative;
	padding: 20px 30px;
	word-break: break-all;	
	min-height: 150px;
	background: #fff;
	border-bottom: 1px solid #bbb;
}

#buttonbox {
	height: 32px;
}
#boardRead {
	display: flex;
}
#comment_column {
	width: 30%;
	min-height: 100px;
	border: 1px solid #bbb;
}
#comment_column #comment_header {
	width: 100%;
	padding: 8px 15px;
	border-bottom: 1px solid #bbb;
	background: #6F97CA;
	font-size: 25px;
}	
.buttonimage {
	background-repeat: no-repeat; 
	background-size: 20px; 
	height: 25px;
	padding: 5px;
	display:inline-block;
	cursor: pointer;
	margin-top: 5px;
}
.buttonimage1 {
	width: 3%;
	margin-left: 8px;
	background-image: url(/GIGAPlay/images/board_back.png);
}
.buttonimage2 {
	width: 6%;
	float:right;
	background-image: url(/GIGAPlay/images/board_modify.png);
}
.buttonimage3 {
	width:6%;
	float:right;
	background-image: url(/GIGAPlay/images/board_delete.png);
}
.noimage {
	width: 83%;
	cursor: default;
}

#comment_container_writer {
	box-shadow: 0 0 3px #bbb;
	background: white;
	word-break: break-all;
	color: black;
	border-radius: 10px;
	width: 70%;
	float:right;
	margin: 4px;
}

#comment_container_writer #comment_title {
	padding-right: 5px;
	height: 25px;
	max-height: 25px;
	background: #f7f7f7;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom: 1px solid #e9e9e9;
	text-align: right;
	font-weight: bold;
}

#comment_container_writer #comment_content {
	padding: 5px 10px;
	text-align: right;
	background: white;
	word-break: break-all;
	overflow-y: hidden;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
#comment_container_writer .comment_delete_button {
	background-image: url(/GIGAPlay/images/close.png);
	background-repeat: no-repeat;
	width:30px;
	height:30px;
	background-size: 25px;
	float: left;
	cursor: pointer;
}
#comment_container .comment_delete_button {
	background-image: url(/GIGAPlay/images/close.png);
	background-repeat: no-repeat;
	width:25px;
	height:30px;
	background-size: 25px;
	float: right;
	cursor: pointer;
}

#comment_time_label_writer {
	background: black;
	color:white;
	height:17px;
	width: 33%;
	font-size:12px;
	border-radius: 10px;
	text-align: right;
	float:right;
	padding-right: 5px;
	margin-right: 5px;
	margin-bottom: 8px;
}

#comment_container {
	box-shadow: 0 0 3px #bbb;
	background: white;
	word-break: break-all;
	color: black;
	width: 70%;
	margin: 4px;
}

#comment_title {
	padding-left: 5px;
	height: 25px;
	max-height: 25px;
	background: #f7f7f7;
	font-weight: bold;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#comment_content {
	padding: 5px 10px;
	text-align: justify;
	background: white;
	word-break: break-all;
	overflow-y: hidden;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#comment_time_label {
	background: black;
	color:white;
	height:17px;
	width:33%;
	font-size:12px;
	border-radius: 10px;
	padding-left: 5px;
	margin-left: 5px;
	margin-bottom: 8px;
}

#comment_write {
	margin-top: 20px;
	color: black;
	font-size: 15px;
	display: inline-block;
	width: 100%;
	border-top: 1px solid #e9e9e9;
	text-align: center;
}
#comment_write textarea {
	margin: 3px 0 5px 2px;
	max-width:88%;
	max-height: 100px;
	word-break: break-all;
	word-wrap: break-word;
}
#comment_write_submit {
	float: right;
	background-image: url(/GIGAPlay/images/comment_submit.png);
	background-repeat: no-repeat;
	background-size: 30px;
	height: 30px;
	width:10%;
	position: relative;
	top: 30px;
	cursor: pointer;
}