@font-face {
	font-family: olleh;
	src: url(../etc/olleh.ttf);
}
#main2 {
	width: 100%;
	height: 30px;
	margin-top: 30px;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
   	color: #909;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #909;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #909;
   opacity:  1;
}	
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #909;
}
.regular {
	display: inline;
}
.temp {
	display: inline;
}
.gathering-border {
	-moz-transition:background-color .5s ease;   
  	-o-transition:background-color .5s ease;   
  	-ms-transition:background-color .5s ease;   
  	-webkit-transition:background-color .5s ease;   
	translation: background-color .5s ease;
	font-family: olleh;
	font-size: 20px;
	src: url(etc/olleh.ttf);
	width: 95%;
	border: 2px black solid;
	border-radius: 10px;
	text-align: center;
	color: black;
	padding: 10px;
	margin-bottom:10px;
}
.gathering-border a{
	-moz-transition:color .5s ease;   
  	-o-transition:color .5s ease;   
  	-ms-transition:color .5s ease;   
  	-webkit-transition:color .5s ease;   
	translation: color .5s ease;
	cursor: pointer;
	font-family: olleh;
	font-size: 20px;
	color: black;
}

#gathering-plays {	
	text-align: center;
	margin-top: 150px;
}
.gathering-border-playpage {
	-moz-transition:background-color .5s ease;   
  	-o-transition:background-color .5s ease;   
  	-ms-transition:background-color .5s ease;   
  	-webkit-transition:background-color .5s ease;   
	translation: background-color .5s ease;
	display: inline;
	font-family: olleh;
	font-size: 20px;
	src: url(etc/olleh.ttf);
	width: 15%;
	border: 2px black solid;
	border-radius: 5px;
	text-align: center;
	color: black;
	padding: 10px 30px;
	margin-bottom:10px;
	margin-left: 5%;
	margin-right: 5%;
}

.gathering-border-playpage-on {
	background: black;
	display: inline;
	font-family: olleh;
	font-size: 20px;
	src: url(etc/olleh.ttf);
	width: 15%;
	border: 2px black solid;
	border-radius: 5px;
	text-align: center;
	padding: 10px 30px;
	margin-bottom:10px;
	margin-left: 5%;
	margin-right: 5%;
}

.gathering-border-playpage a{
	-moz-transition:color .5s ease;   
  	-o-transition:color .5s ease;   
  	-ms-transition:color .5s ease;   
  	-webkit-transition:color .5s ease;   
	translation: color .5s ease;
	cursor: pointer;
	font-family: olleh;
	font-size: 20px;
	color: black;
}

.gathering-border-playpage-on a{
	-moz-transition:color .5s ease;   
  	-o-transition:color .5s ease;   
  	-ms-transition:color .5s ease;   
  	-webkit-transition:color .5s ease;   
	translation: color .5s ease;
	cursor: pointer;
	font-family: olleh;
	font-size: 20px;
	color: white;
}

.grid {
	padding: 20px 20px 100px 20px;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

.grid li {
	display: inline-block;
	width: 30%;
	margin: 0;
	padding: 20px;
	text-align: left;
	position: relative;
	border-radius: 5px;
}

.grid figure {
	margin: 0;
	position: relative;
}

.grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 5px 20px;
	background: #2c3f52;
	color: #ed4e6e;
}

.grid figcaption h3 {
	margin: 0;
	padding: 0;
	color: #fff;
}

.grid figcaption a {
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: #ed4e6e;
	color: #fff;
}

/* Caption Style 3 */
.cs-style-3 figure {
	overflow: hidden;
}

.cs-style-3 figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .cs-style-3 figure:hover img,
.cs-style-3 figure.cs-hover img {
	-webkit-transform: translateY(-50px);
	-moz-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	transform: translateY(-50px);
}

.cs-style-3 figcaption {
	opacity:1 !important;
	height: 200px;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	-webkit-transform: translateY(80%);
	-moz-transform: translateY(80%);
	-ms-transform: translateY(80%);
	transform: translateY(80%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}

.cs-style-3 figcaption a {
	position: absolute;
	bottom: 20px;
	right: 20px;
}


@media screen and (max-width: 31.5em) {
	.grid {
		padding: 10px 10px 30px 10px;
	}
	.grid li {
		width: 100%;
		min-width: 300px;
	}
}
