@CHARSET "EUC-KR";
.txt_view {
	 overflow:hidden;
	 position:relative;
	 width:978px;
	 height:300px;
	 border:1px solid #444;
	 background-color:#fff;
	  box-sizing:border-box;
	 -webkit-box-sizing:border-box;
	 -moz-box-sizing:border-box;
}
.actionTxtType5 {
	 position:relative;
	 padding:90px 0;
	 height:100%;
	 border-top:none;
	 background-color:#fff;
	 color:#000000;
	 text-align:center;
	 box-sizing:border-box;
	 -webkit-box-sizing:border-box;
	 -moz-box-sizing:border-box;
}
.actionTxtType5:after {
	 position:absolute;
	 z-index:0;
	 top:0;
	 left:0;
	 display:block;
	 content:'';
	 height:100%;
	 width:5px;
	 background-color:#444;
	 transition:width .45s;
	 -webkit-transition:width .45s;
	 -moz-transition:width .45s;
}
.actionTxtType5:hover:after {
	 width:100%;
}
.actionTxtType5 .view_tit{
	 position:relative;
	  z-index:10;
	 font-size:35px;
	 line-height:35px;
	 text-transform:uppercase;
	 font-weight:700;
	 padding-bottom:20px;
	 text-shadow:1px 1px 10px rgba(68,68,68,0.4);
	 transition:all .7s;
	 -webkit-transition:all .7s;
	 -moz-transition:all .7s;
}
.actionTxtType5 .view_txt {
	 position:relative;
	 z-index:10;
	 transition:color .7s;
	 -webkit-transition:color .7s;
	 -moz-transition:color .7s;
}
.actionTxtType5:hover .view_tit {
	 color:#fff;
	 text-shadow:1px 1px 10px rgba(255,255,255,0.4);
}
.actionTxtType5:hover .view_txt {
	 color:#fff;
}

.temp-play-add-view {
	cursor: pointer;
	text-align:center;
	height: 40px;
	background: black;
	margin-bottom: 15px;
}
.temp-play-add-view p {
	position: relative;
	top: 7px;
	color:white;
	font-family: olleh;
}

#pager {
	background: black;
	color: white;
	text-align: center;
}

#pager a {
	color: white;
	font-family: olleh;
}

#pager a.pageNo.selected {
	color: yellow;
}