.before-login {
	
}
.after-login {
	
}
.errormsg {
	color: red;
	font-size: 5px;
	height: 6px;
	clear: both;
}
#mid_errormsg_redun {
	display:none;
}
#mid_errormsg_null {
	display:none;
}
#pw_errormsg {
	display:none;
}
#name_errormsg {
	display:none;
}
#email_errormsg {
	display:none;
}
#login_errormid {
	display:none
}
#login_nomid {
	display:none
}
#login_errorpw {
	display:none
}
#login_fail {
	display:none
}