.errormsg {
	color: red;
	font-size: 5px;
	height: 6px;
	clear: both;
}
#mid_errormsg_redun {
	display:none;
}
#mid_errormsg_null {
	display:none;
}
#pw_errormsg {
	display:none;
}
#name_errormsg {
	display:none;
}
#email_errormsg {
	display:none;
}
#login_errormid {
	display:none
}
#login_nomid {
	display:none
}
#login_errorpw {
	display:none
}
#login_fail {
	display:none
}
#tempplay_name_errormsg {
	display:none;
}
#eduplay_name_errormsg {
	display:none;
}
input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black !important;
  opacity: 0.5;
}
input::-moz-placeholder { /* Firefox 19+ */
  color: black;
  opacity: 0.5;
}
input:-ms-input-placeholder { /* IE 10+ */
  color: black;
  opacity: 0.5;
}
input:-moz-placeholder { /* Firefox 18- */
  color: black;
  opacity: 0.5;
}
.input-class {
    @include placeholder(#FFFFFF);
}